/*--------------------------------main----------------------------------*/

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #6e918c;
}

/*------------------------------navbar----------------------------------*/

.navbar {
  background-color: #333;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  animation: fadeIn 0.5s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.navbar li {
  margin: 0 20px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar a:hover, menu-icon:hover {
  color: #ff6600!important;
}

.nav-logo {
  padding: 10px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .navbar {
    align-items: flex-start;
  }

  .navbar ul {
    flex-direction: column;
    align-items: center;
    display: none;
  }
  
  .navbar.active ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    animation: fadeIn 0.5s ease-in-out;
  }
  
  .navbar li {
    margin: 0;
    padding: 10px 0;
    text-align: center;
  }
  
  .menu-icon {
    display: block!important;
    cursor: pointer;
    padding: 10px;
    text-align: right;
    font-size: 20px;
    color: #fff;
    background-color: #333;
  }
}

.menu-icon {
  display: none;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*------------------------------home page-------------------------------*/

.guideshowcase-section {
  background-color: #f9f9f9;
  color: #333;
  padding: 3%;
  border-radius: 10px;
  margin: 3%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  /* text-align: center; */
}

.guideshowcase-div {
  display: flex;
  gap: 6%;
  align-items: center;
}

.guideshowcase-div h2 {
  font-size: 24px;
}

.guideshowcase-div p {
  font-size: 16px;
}

.guideshowcase-image {
  max-width: 100%;
  height: auto;
}

@media (max-width: 850px) {
  .guideshowcase-div {
    flex-direction: column; /* Stack divs on top of each other */
    align-items: flex-start; /* Align content to the left */
  }

  .guideshowcase-image {
    margin-left: 0; /* Remove left margin for the image */
    margin-top: 20px; /* Add top margin to separate the image from content */
    max-width: 100%; /* Make the image full-width */
  }
}

.start-test-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #007BFF;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.start-test-button:hover {
  background-color: #0056b3;
}


.article-section {
  background-color: #f9f9f9;
  color: #333;
  padding: 3%;
  border-radius: 10px;
  margin: 3%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.article-cards-container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: space-evenly; /* Add space between items */
}

.article-card {
  width: 26%;
  min-width: 250px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding: 18px;
  text-align: left;
}

.article-card img {
  max-width: 100%;
  height: auto;
}

.article-card h3 {
  font-size: 1.5rem;
  margin-top: 10px;
}

.article-card p {
  font-size: 1rem;
  margin-top: 10px;
}

.article-card a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.article-card a:hover {
  background-color: #0056b3;
}

/*------------------------------questining system-----------------------*/

.container {
  max-width: 850px;
  margin: 5% auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1, h2, p {
  margin-bottom: 10px;
}

.options {
  position: relative;
  display: flex;
  flex-direction: column;
}

.option {
  margin-bottom: 10px;
}

.arrow {
  display: inline-block;
  cursor: pointer;
  margin-left: 5px;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
  cursor: help;
  font-size: 18px;
  color: #555;
  transition: transform 0.3s; /* Add a transition for the transform property */
}
.arrow.flipped {
  transform: rotate(180deg); /* Apply rotation when the class is added */
}
.arrow:hover {
  cursor: help;
}

.additional-info {
  display: none;
  top: 100%;
  left: 0;
  margin-top: 5px;
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  width: calc(100% - 20px);
  max-width: 500px;
  z-index: 1;
  border-radius: 5px;
  font-size: 14px;
}

.option input[type="radio"] {
  transform: scale(1.2);
  margin-right: 10px;
}
.option input[type="radio"]:checked + label {
  color: #1b1b1b;
}

/* Style for the "Next" buttons */
.btn-container button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}
.btn-container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.btn-container button:hover {
  background-color: #0056b3;
}

/* Style for the additional information box */
.info-box {
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

.drone-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.transmitter-container {
  display: flex; /* Display transmitter-cards side by side */
  flex-wrap: wrap; /* Wrap them to the next line if they don't fit */
  justify-content: center; /* Distribute space between them */
}

.transmitter-card {
  flex: 0 0 calc(33.33% - 20px); /* Distribute them evenly within the container */
  padding: 10px;
  margin: 10px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Include padding and border in the width calculation */
  height: fit-content;
}

/* Responsive Styles */
@media screen and (max-width: 750px) {
  .container {
    max-width: 850px;
    margin: 5% auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .transmitter-card {
    flex: 0 0 calc(50% - 20px); /* Distribute them evenly within the container */
  }
}

.drone-card {
  padding: 10px;
  margin: 10px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.drone-card img, .transmitter-card img {
  width: 100%;
  min-height: 45%;
  max-height: 60%;
  object-fit: cover;
  border-radius: 5px;
}
.drone-card h3, .transmitter-card h3 {
  margin-top: 10px;
}
.drone-card p, .transmitter-card p {
  margin: 8px 0;
}

.learn-more-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
}
.learn-more-btn:hover {
  background-color: #0056b3;
}

/*------------------------------Admin part------------------------------*/

.admin-dashboard {
  background-color: #fff;
  max-width: 80%;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.dashboard-content {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
}

.dashboard-section {
  flex: 1;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px; /* Add margin between sections */
  box-sizing: border-box; /* Ensure padding and border don't increase element size */
}

.dashboard-section h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.dashboard-section p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.add-new-button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin: 10px;
}

.add-new-button:hover {
  background-color: #0056b3; /* Darker blue color on hover */
}

.table-container {
  /* max-height: 400px; */
  overflow: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/* Style for alternating rows */
tr:nth-child(even) {
  background-color: #f2f2f2; /* Lighter background color for even rows */
}

/* Style for row hover */
tr:hover {
  background-color: #e0e0e0; /* Change background color on hover */
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
  .dashboard-section {
      flex: 100%; /* Make sections stack vertically */
  }
}

.admin-panel {
  background-color: #fff;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
textarea {
  width: 96%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="checkbox"] {
  margin-right: 5px;
  margin-bottom: 15px;
}

input[type="number"] {
  width: 96%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #f8f8f8;
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #f8f8f8;
  cursor: pointer;
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

/*------------------------------404 page--------------------------------*/

.container {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
}

h1 {
  font-size: 120px;
  color: #ff7979;
  margin-bottom: 36px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

p {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

a {
  color: #007BFF;
  text-decoration: underline;
}

a:hover {
  color: #0056b3;
  text-decoration: none;
}