/*--------------------------------main----------------------------------*/

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #6e918c;
}

/*------------------------------navbar----------------------------------*/

.navbar {
  background-color: #333;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  animation: fadeIn 0.5s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.navbar li {
  margin: 0 20px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar a:hover, menu-icon:hover {
  color: #ff6600!important;
}

.nav-logo {
  padding: 10px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .navbar {
    align-items: flex-start;
  }

  .navbar ul {
    flex-direction: column;
    align-items: center;
    display: none;
  }
  
  .navbar.active ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    animation: fadeIn 0.5s ease-in-out;
  }
  
  .navbar li {
    margin: 0;
    padding: 10px 0;
    text-align: center;
  }
  
  .menu-icon {
    display: block!important;
    cursor: pointer;
    padding: 10px;
    text-align: right;
    font-size: 20px;
    color: #fff;
    background-color: #333;
  }
}

.menu-icon {
  display: none;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*------------------------------questining system-----------------------*/

.container {
  max-width: 850px;
  margin: 5% auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1, h2, p {
  margin-bottom: 10px;
}

.options {
  position: relative;
  display: flex;
  flex-direction: column;
}

.option {
  margin-bottom: 10px;
}

.arrow {
  display: inline-block;
  cursor: pointer;
  margin-left: 5px;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
  cursor: help;
  font-size: 18px;
  color: #555;
  transition: transform 0.3s; /* Add a transition for the transform property */
}
.arrow.flipped {
  transform: rotate(180deg); /* Apply rotation when the class is added */
}
.arrow:hover {
  cursor: help;
}

.additional-info {
  display: none;
  top: 100%;
  left: 0;
  margin-top: 5px;
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  width: calc(100% - 20px);
  max-width: 500px;
  z-index: 1;
  border-radius: 5px;
  font-size: 14px;
}

.option input[type="radio"] {
  transform: scale(1.2);
  margin-right: 10px;
}
.option input[type="radio"]:checked + label {
  color: #1b1b1b;
}

/* Style for the "Next" buttons */
.btn-container button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}
.btn-container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.btn-container button:hover {
  background-color: #0056b3;
}

/* Style for the additional information box */
.info-box {
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

.drone-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.transmitter-container {
  display: flex; /* Display transmitter-cards side by side */
  flex-wrap: wrap; /* Wrap them to the next line if they don't fit */
  justify-content: center; /* Distribute space between them */
}

.transmitter-card {
  flex: 0 0 calc(33.33% - 20px); /* Distribute them evenly within the container */
  padding: 10px;
  margin: 10px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Include padding and border in the width calculation */
}

.drone-card {
  padding: 10px;
  margin: 10px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.drone-card img, .transmitter-card img {
  width: 100%;
  min-height: 45%;
  max-height: 60%;
  object-fit: cover;
  border-radius: 5px;
}
.drone-card h3, .transmitter-card h3 {
  margin-top: 10px;
}
.drone-card p, .transmitter-card p {
  margin: 8px 0;
}

.learn-more-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
}
.learn-more-btn:hover {
  background-color: #0056b3;
}